@import '../../common/common.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    background: whitesmoke;
}

.right-container {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 500px;
}

.search-bar {
    flex:1;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: .5em 1em;
    border-bottom: 1px solid lightgray;


    input {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        font-size: 2em;
    }
}

.avatar {
    background: lightgray;
    border-radius: 100%;
    padding: .3em .5em;
    cursor: pointer;

    &:hover {
        background: rgb(211, 211, 230);
    }
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;

        .avatar {
            display: none;
        }
    }
}